@font-face {
  font-family: 'HK Grotesk Medium';
  src: url('./font-family/hk-grotesk-medium.ttf') format('truetype');
}

.ErrorPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ErrorPage h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.ErrorPage p {
  font-size: 20px;
  margin-bottom: 20px;
}

#navbar {
  display: flex;
  justify-content: space-between;
}

/* Responsive CSS */
@media (max-width: 768px) {
  /* Styles for tablets */
  .ErrorPage h1 {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .ErrorPage p {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  /* Styles for mobile devices */
  .ErrorPage h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .ErrorPage p {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
#navbar ul {
  /* position: absolute; */
  display: flex;
  list-style-type: none;
  align-items: center;
  background-color: var(--secPageColor);
  gap: 2.5vw;
  /* right: 6rem; */
  /* padding: 1.5rem 1.5rem 1.5rem 2.5rem; */
  padding: 0.78vw 0.78vw 0.78vw 1.3vw;
  border-radius: 2.6vw;
}

#navbar ul li * {
  font-family: 'Livvic';
  font-size: 1.14vw;
  color: var(--white);
  text-decoration: none;
}

.active {
  font-weight: bold;
}

/* Responsive CSS */
@media (max-width: 768px) {
  /* Styles for tablets */
  #navbar ul {
    gap: 20px;
    padding: 10px 10px 10px 20px;
    border-radius: 20px;
  }

  #navbar ul li * {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  /* Styles for mobile devices */
  #navbar ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border-radius: 10px;
  }

  #navbar ul li {
    margin-bottom: 10px;
  }

  #navbar ul li * {
    font-size: 14px;
  }
}
.loginSignUpBtn {
  display: inline-block;
  background-color: var(--btnColor);
  border-radius: 0.4vw;
  width: 5.2vw;
  text-align: center;
  padding: 0.5vw 0;
  margin-right: 0.5vw;
}

#logo {
  margin: 1.04vw 0 0 1.56vw;
  height: 4.16vw;
  width: 4.16vw;
  display: block;
}

#homeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4.79vw 3.85vw 0 5.83vw;
}

#meetingImg {
  height: 54%;
  width: 37.3%;
}

/* Responsive CSS */
@media (max-width: 768px) {
  /* Styles for tablets */
  .loginSignUpBtn {
    width: 80px;
    padding: 10px 0;
    margin-right: 10px;
    border-radius: 10px;
  }

  #logo {
    margin: 20px 0 0 30px;
    height: 40px;
    width: 40px;
  }

  #homeContainer {
    margin: 50px 40px 0 50px;
  }

  #meetingImg {
    height: 40%;
    width: 60%;
  }
}

@media (max-width: 480px) {
  /* Styles for mobile devices */
  .loginSignUpBtn {
    width: 100px;
    padding: 12px 0;
    margin-right: 12px;
    border-radius: 12px;
  }

  #logo {
    margin: 10px 0 0 15px;
    height: 30px;
    width: 30px;
  }

  #homeContainer {
    flex-direction: column;
    justify-content: center;
    margin: 30px 20px 0 30px;
  }

  #meetingImg {
    height: 30%;
    width: 80%;
  }
}
#homeTxt {
  width: 39.06vw;
  font-family: 'ABeeZee';
  font-size: 5.2vw;
  font-weight: bold;
  color: var(--white);
}

#homeCircle {
  position: absolute;
  height: 52.08vw;
  width: 52.08vw;
  border-radius: 100%;
  background-color: var(--secPageColor);
  right: -10.41vw;
  top: 10.41vw;
  overflow: hidden;
  z-index: -999;
}

#homeCircleScnd {
  position: absolute;
  height: 52.08vw;
  width: 52.08vw;
  border-radius: 100%;
  background-color: var(--secPageColor);
  left: -20.83vw;
  top: -3.17vw;
  overflow: hidden;
  z-index: -999;
}

/* Responsive CSS */
@media (max-width: 768px) {
  /* Styles for tablets */
  #homeTxt {
    width: 80%;
    font-size: 30px;
  }

  #homeCircle,
  #homeCircleScnd {
    height: 50vw;
    width: 50vw;
    right: -8vw;
    top: 8vw;
  }
}

@media (max-width: 480px) {
  /* Styles for mobile devices */
  #homeTxt {
    width: 90%;
    font-size: 24px;
  }

  #homeCircle,
  #homeCircleScnd {
    height: 60vw;
    width: 60vw;
    right: -5vw;
    top: 5vw;
  }
}
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.shadow-box {
  display: flex;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 76px;
  width: 850px;
  height: 550px;
  margin-top: -110px;
}

.left-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cae8ff;
  border-bottom-left-radius: 26px;
  border-top-left-radius: 26px;
}

/* Responsive CSS */
@media (max-width: 768px) {
  /* Styles for tablets */
  .shadow-box {
    width: 90%;
    height: 400px;
    margin-top: -80px;
    border-radius: 40px;
  }

  .left-side {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }
}

@media (max-width: 480px) {
  /* Styles for mobile devices */
  .login-container {
    padding: 20px;
  }

  .shadow-box {
    width: 100%;
    height: auto;
    margin-top: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .left-side {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

#element1Img {
  height: 61%;
  width: 84.3%;
  object-fit: cover;
  margin-top: -214px;
  margin-right: 89px;
  border-top-left-radius: 26px;
  z-index: 1;
}

.left-side-logo {
  height: 15%;
  width: 47.3%;
  position: absolute;
  bottom: 40%;
  right: 19%;
  border-top-left-radius: 26px;
  z-index: 0;
}

#logintxt_leftside {
  position: fixed;
  bottom: 265px;
  left: -351px;
  right: 0;
  text-align: center;
  font-size: 17px;
  font-family: 'HK Grotesk Medium';
}

.counsellor-text-container {
  position: absolute;
  top: 40px;
  font-size: 20px;
  background-color: var(--secPageColor);
  border-radius: 2.6vw;
  padding: 0.78vw;
  font-family: 'HK Grotesk Bold';
  width: 74%;
  text-align: center;
  color: #050A30;
}

/* Responsive CSS */
@media (max-width: 768px) {
  /* Styles for tablets */
  #element1Img {
    height: 40%;
    width: 80%;
    margin-top: -150px;
    margin-right: 50px;
  }

  .left-side-logo {
    height: 12%;
    width: 40%;
    bottom: 30%;
    right: 15%;
  }

  #logintxt_leftside {
    bottom: 150px;
    left: -250px;
    font-size: 14px;
  }

  .counsellor-text-container {
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;
    width: 70%;
  }
}

@media (max-width: 480px) {
  /* Styles for mobile devices */
  #element1Img {
    height: 30%;
    width: 100%;
    margin-top: -100px;
    margin-right: 0;
    border-top-left-radius: 0;
  }

  .left-side-logo {
    height: 10%;
    width: 80%;
    bottom: 20px;
    right: 10%;
    border-top-left-radius: 0;
  }

  #logintxt_leftside {
    bottom: 80px;
    left: -200px;
    font-size: 12px;
  }

  .counsellor-text-container {
    font-size: 14px;
    padding: 8px;
    border-radius: 10px;
    width: 90%;
  }
}
.lets-signin-text-container {
  position: absolute;
  font-size: 17px;
  color: #050A30;
  text-align: center;
  padding: 1.6vw;
  top: 95px;
}

.needhelp-container {
  position: absolute;
  font-size: 17px;
  color: #050A30;
  text-align: center;
  padding: 1.6vw;
  bottom: 10px;
  font-family: 'HK Grotesk Medium';
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5cb6F9;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  padding-top: 130px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin: 11px 0;
  font-size: 16px;
  border: 2px solid #5CB6F9;
  border-radius: 25px;
  outline: none;
}

/* Responsive CSS */
@media (max-width: 768px) {
  /* Styles for tablets */
  .lets-signin-text-container,
  .needhelp-container {
    font-size: 14px;
    padding: 16px;
  }

  form {
    padding-top: 100px;
  }
}

@media (max-width: 480px) {
  /* Styles for mobile devices */
  .lets-signin-text-container,
  .needhelp-container {
    font-size: 12px;
    padding: 12px;
  }

  form {
    padding-top: 80px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    font-size: 14px;
    border-radius: 20px;
  }
}
button[type="submit"] {
  width: 69%;
  padding: 16px;
  margin: 7px 0;
  bottom: 25px;
  font-size: 16px;
  background-color: #1877f2;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #12229D;
}

.loginOptions {
  display: grid;
  text-align: center;
  font-family: 'HK Grotesk Medium';
  font-size: 12px;
  margin-top: 39px;
}

#googleicon {
  margin-right: 10px;
  width: 22%;
}

#windowicon {
  margin: 0 auto;
  width: 22%;
}

#githubicon {
  margin-left: 10px;
  width: 22%;
}

.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Responsive CSS */
@media (max-width: 768px) {
  /* Styles for tablets */
  button[type="submit"] {
    width: 80%;
    padding: 12px;
    margin: 6px 0;
    bottom: 20px;
    font-size: 14px;
  }

  .loginOptions {
    font-size: 10px;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  /* Styles for mobile devices */
  button[type="submit"] {
    width: 90%;
    padding: 12px;
    margin: 6px 0;
    bottom: 15px;
    font-size: 12px;
  }

  .loginOptions {
    font-size: 10px;
    margin-top: 15px;
  }

  #googleicon,
  #windowicon,
  #githubicon {
    width: 18%;
  }
}
.parent {
  position: relative;
}

.signuptxt {
  position: absolute;
  top: 21px;
  left: 76px;
  font-size: 17px;
  font-family: 'HK Grotesk Medium';
  width: 56px;
}

.signuptxt2 {
  position: absolute;
  top: 43px;
  left: 39px;
  font-size: 17px;
  font-family: 'HK Grotesk Medium';
  width: 140px;
}

.signup-line {
  border-top: 1px solid black;
  position: relative;
  top: 70px;
  left: 1%;
  width: 101%;
  height: 1px;
}

.form-container {
  display: flex;
  width: 98%;
  height: 77%;
  margin-top: -2%;
  margin-left: -96%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* Responsive CSS */
@media (max-width: 768px) {
  /* Styles for tablets */
  .signuptxt {
    font-size: 14px;
    top: 17px;
    left: 50px;
    width: 45px;
  }

  .signuptxt2 {
    font-size: 14px;
    top: 34px;
    left: 30px;
    width: 120px;
  }

  .signup-line {
    top: 55px;
    height: 1px;
  }

  .form-container {
    margin-top: -4%;
  }
}

@media (max-width: 480px) {
  /* Styles for mobile devices */
  .signuptxt {
    font-size: 12px;
    top: 14px;
    left: 40px;
    width: 40px;
  }

  .signuptxt2 {
    font-size: 12px;
    top: 28px;
    left: 20px;
    width: 100px;
  }

  .signup-line {
    top: 42px;
    height: 1px;
  }

  .form-container {
    margin-top: -6%;
  }
}
input.firstname-text[type="text"] {
  width: 38%;
  padding: 12px;
  margin: 11px 0;
  font-size: 16px;
  border: 2px solid #D8D8D8;
  border-radius: 25px;
  outline: none;
  position: relative;
  top: -33px;
  left: -22%;
  background-color: #D8D8D8;
}

input.surname-text[type="text"] {
  width: 38%;
  padding: 12px;
  margin: 6px 0;
  font-size: 16px;
  border: 2px solid #D8D8D8;
  border-radius: 25px;
  outline: none;
  position: relative;
  top: -104px;
  right: -28%;
  background-color: #D8D8D8;
}

input[type="email"] {
  width: 88%;
  padding: 12px;
  margin: 13px 0;
  font-size: 16px;
  border: 2px solid #D8D8D8;
  background-color: #D8D8D8;
  border-radius: 25px;
  outline: none;
  position: relative;
  top: -108px;
  right: -3%;
}

input.password-text[type="password"] {
  width: 88%;
  padding: 12px;
  margin: 6px 0;
  font-size: 16px;
  border: 2px solid #D8D8D8;
  background-color: #D8D8D8;
  border-radius: 25px;
  outline: none;
  position: relative;
  top: -113px;
  right: -3%;
}

/* Responsive CSS */
@media (max-width: 768px) {
  /* Styles for tablets */
  input.firstname-text[type="text"],
  input.surname-text[type="text"],
  input[type="email"],
  input.password-text[type="password"] {
    width: 80%;
    font-size: 14px;
    top: -25px;
    left: -10%;
    right: auto;
  }

  input.surname-text[type="text"] {
    top: -96px;
    right: -15%;
  }

  input[type="email"] {
    top: -100px;
    right: -2%;
  }

  input.password-text[type="password"] {
    top: -105px;
    right: -2%;
  }
}

@media (max-width: 480px) {
  /* Styles for mobile devices */
  input.firstname-text[type="text"],
  input.surname-text[type="text"],
  input[type="email"],
  input.password-text[type="password"] {
    width: 90%;
    font-size: 12px;
    top: -18px;
    left: -5%;
    right: auto;
  }

  input.surname-text[type="text"] {
    top: -84px;
    right: -10%;
  }

  input[type="email"] {
    top: -88px;
    right: -2%;
  }

  input.password-text[type="password"] {
    top: -93px;
    right: -2%;
  }
}
input[type="date"] {
  width: 38%;
  padding: 12px;
  margin: 6px 0;
  font-size: 16px;
  border: 2px solid #D8D8D8;
  background-color: #D8D8D8;
  border-radius: 25px;
  outline: none;
  position: relative;
  left: -22%;
  top: -112px;
}

select[type="gender"] {
  width: 41%;
  padding: 12px;
  margin: 6px 0;
  font-size: 16px;
  border: 2px solid #D8D8D8;
  border-radius: 25px;
  outline: none;
  position: relative;
  top: -176px;
  right: -28%;
  background-color: #D8D8D8;
}

label[for="counsellor-option"],
label[for="student-option"] {
  width: 38%;
  padding: 12px;
  font-family: 'HK Grotesk Medium';
  margin: 6px 0;
  font-size: 16px;
  border: 2px solid #D8D8D8;
  border-radius: 25px;
  outline: none;
  position: relative;
  background-color: #D8D8D8;
}

/* Responsive CSS */
@media (max-width: 768px) {
  /* Styles for tablets */
  input[type="date"],
  select[type="gender"],
  label[for="counsellor-option"],
  label[for="student-option"] {
    width: 80%;
    font-size: 14px;
    left: -10%;
    right: auto;
  }

  label[for="student-option"] {
    top: 226px;
    right: -10%;
  }
}

@media (max-width: 480px) {
  /* Styles for mobile devices */
  input[type="date"],
  select[type="gender"],
  label[for="counsellor-option"],
  label[for="student-option"] {
    width: 90%;
    font-size: 12px;
    left: -5%;
    right: auto;
  }

  label[for="student-option"] {
    top: 216px;
    right: -5%;
  }
}
label[for="are-you-student-or-counsellor"] {
  font-family: 'HK Grotesk Medium';
  font-size: 14px;
  position: relative;
  top: -162px;
  right: 29%;
}

button.submit-button[type="submit"] {
  width: 69%;
  padding: 16px;
  margin: 7px 0;
  position: relative;
  top: -27px;
  left: -76%;
  display: flex;
  justify-content: center;
  font-size: 16px;
  background-color: #1877f2;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

button.submit-button[type="submit"]:hover {
  background-color: #12229D;
}

/* Responsive CSS */
@media (max-width: 768px) {
  /* Styles for tablets */
  label[for="are-you-student-or-counsellor"],
  button.submit-button[type="submit"] {
    font-size: 12px;
    right: -15%;
    left: auto;
  }
}

@media (max-width: 480px) {
  /* Styles for mobile devices */
  label[for="are-you-student-or-counsellor"],
  button.submit-button[type="submit"] {
    font-size: 10px;
    right: -10%;
    left: auto;
  }
}


